# Environments
.env
.venv

# Robot Framework logs & reports
output.xml
report.html
log.html
*.png

# Browser library recordings
browser/
playwright-log.txt

# Test results / temp files
results/
reports/
*.log
*.tmp
